footer {
  background-color: $footerColor;
  margin-top: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
     div{
      display: flex;
      width: 100%;
      justify-content: space-around;
      img {
        width: auto;
        height: 36px;
      }
      #footer-text {
        max-width: 50%;
        color: #ffffff;
        font-weight: 600;
        // height: 50px;
        margin: 0;
        font-size: 0.7rem
      } 
    } 
} 

@media screen and (max-width: 786px) {
  footer{
    margin-top: 0;
    height: unset;
    padding-top: 5px;
    padding-bottom: 5px;
    div.col {
      justify-content: center !important;
      flex-wrap: wrap;
      #footer-text {
        max-width: unset;
        // line-height: unset;
        height: unset;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  footer {
    .footer-logo {
      margin-bottom: 1rem;
    }
    div.col #footer-text {
      text-align: center;
      line-height: unset;
    }
  }
}

@media screen and (min-height: 1149px) {
  footer {
    position: absolute;
    bottom: 0;
    margin-bottom: -40px;
  }
}