footer {
  background-color: $footerColor;
  margin-top: 80px;

     div{
      display: flex;
      width: 100%;
      justify-content: space-around;
      img {
        height: 50px;
      }
      #footer-text {
        max-width: 50%;
        color: #ffffff;
        font-weight: 600;
        height: 50px;
        line-height: 50px;
        margin: 0;
      } 
    } 
} 

@media screen and (max-width: 786px) {
  footer{
    margin-top: 0;
    height: unset;
    div.col {
      justify-content: center;
      flex-wrap: wrap;
      #footer-text {
        max-width: unset;
        line-height: unset;
        height: unset;
      }
    }
  }
}