@import "./variables";

#header {
  background-color: white;
  padding-bottom: 20px;
  .top_header {
    padding-top: 20px;
  }
  .header_logo {
    border-right: 1px #cccccc solid;
    max-width: 100%;
    padding-right: 20px;
  }
  .header_text {
    color: black;
    font-weight: 600;
    padding-left: 20px;
    font-size: 1.5rem;
    display: inline-block;
  }
}

@media screen and (max-width: 786px) {
  #header{
    .header_logo {
      border-right: unset;
    }
    .header_text {
      font-size: 1.1rem;
      text-align: center;
      padding-left: unset;
      height: 40px;
      line-height: 35px;
    }
  }
}
@media screen and (max-width: 540px) {
  #header .top_header {
    justify-content: center;
  }
}