@import "./mixins";
@import "./variables";

#header {
    width: 100%;
    // max-height: 100px;
    // position: fixed;
    z-index: 1000;
    // height: 20%;
    background-color: white;

.top_header{
  padding-top: 20px;
}
    .header_logo {
        padding: 10px;
        // margin-top: 25px;
        border-right: 1px #cccccc solid;
    } /* .header_logo */

    .header_text {
        font-size: 2.5vw;
        color: black;
        font-weight: 600;
        padding-left: 20px;
        // height: 55px;
    } /* .header_text */
} /* #header */
