@import "./variables";

#menu-cont {
    background-color: #f1f1f1;

    #top_arrow {
      display: none;
        .arrow_box {
          position: absolute;
          top: 16%;
          left: 90%;
        } /* .arrow_box */
    } /* #top_arrow */

    .categories {
        display: flex;
        .category {
          width: 20%;   
          cursor: pointer;
          &:hover {
            .category_text {
              color: #ff3232 !important;
            }
          }

          a {
            text-decoration: none;
          }
          
          .category_img {
            display: block;
            margin: 10px auto;
            height: 64px;
          } 
          
          .category_text {
            color: black;
            text-align: center;
            font-size: 18px;
            padding-bottom: 15px;
          } 
        }
        
        .active {
          border-bottom: 4px solid $redColor;
            .category_text {
                color: $redColor;
            } 
        } 
    }
}

@media screen and (min-width: 980px){
  .category_img{
  padding-bottom: 0 !important;
  margin-bottom: 15px !important;
}
}
@media screen and (min-width: 980px) and (max-width: 1279px){
  .category_text{
    font-size: 13px;
  }
}
@media screen and (max-width: 991px) {
  #menu-cont{
    height: 90px;
  }
  .category{
    height: 90px !important;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  #menu-cont {
    .categories {
      .category {
        .category_text {
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 640px){
    #menu-cont {
        height: 70px !important;
        .categories .category {
            height: 70px !important;
            padding: 0;
            .category_img {
                height: 48px;
            }
        }
    }
  }
