@import "./variables";

#menu-cont {
    background-color: #f7f7f7;
    border-bottom: 1px #dddddd solid;
    border-top: 1px #dddddd solid;
    // height: 170px;
    z-index: 1111;
    height: 180px;

    #top_arrow {
      display: none;
        .arrow_box {
          position: absolute;
          top: 16%;
          left: 90%;
        } /* .arrow_box */
    } /* #top_arrow */

    .categories {
        display: inline-block;
        width: 100%;
        .active{
          border-bottom: 2px solid $redColor;
        }
        .category {
            display: inline-block;
            height: 180px;
            width: 19%;
            .bicon {
                display: block !important;
            } /* .bicon */

            .ricon {
                display: none !important;
            } /* .ricon */

            .category_img {
                display: block;
                color: black;
                fill: $redColor;
                margin: 10% auto;
                padding-bottom: 10px;
            } /* .category_img */

            .category_text {
                color: black;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 14px;
                padding-bottom: 50px;
                text-transform: uppercase;
            } /* .category_text */
        } /* .category */

        .active {
            .category_text {
                color: $redColor;
            } /* .category_text */

            .category_img {
                fill: $redColor;
            } /* .category_img */

            .bicon {
                display: none !important;
            } /* .bicon */

            .ricon {
                display: block !important;
            } /* .ricon */
        } /* .active */
    } /* .categories */
} /* #menu-cont */

@media screen and (max-width: 979px) {
  .category{
    padding-top: 30px;
    padding-bottom: 30px;
  }
} /* small media query */
@media screen and (min-width: 980px){
  .category_img{
  padding-bottom: 0 !important;
  margin-bottom: 16px !important;
}
}
@media screen and (min-width: 980px) and (max-width: 1279px){
  .category_text{
    font-size: 13px;
  }
}
@media screen and (max-width: 979px) {
  #menu-cont{
    height: 130px;
  }
  .category{
    height: 130px !important;
  }
}
@media screen and (max-width: 640px){
    .category_img{
      height: 48px;
    }
  }
