@import "./variables";

#menu-cont {
    background-color: #f1f1f1;
    z-index: 1111;
    padding-right: 0;
    padding-left: 0;


    #top_arrow {
      display: none;
        .arrow_box {
          position: absolute;
          top: 16%;
          left: 90%;
        } /* .arrow_box */
    } /* #top_arrow */

    .categories {
        display: flex;
        width: 100%;
        .category {
          display: inline-block;
          width: 20%;
          cursor: pointer;

          &:hover {
            .category_text {
              color: #ff3232 !important;
            }
          }
          
          .category_img {
            display: block;
            color: black;
            fill: $redColor;
            margin: 10px auto;
            padding-bottom: 10px;
            height: 64px;
          } 
          
          .category_text {
            color: black;
            font-weight: 500;
            font-size: 18px;
            padding-bottom: 15px;
          } 
        }
        
        .active {
          border-bottom: 4px solid $redColor;
            .category_text {
                color: $redColor;
            } 

            .category_img {
                fill: $redColor;
            } 
        } 
    }
}

// @media screen and (max-width: 979px) {
//   .category{
//     padding-top: 30px;
//     padding-bottom: 30px;
//   }
// } 
@media screen and (min-width: 980px){
  .category_img{
  padding-bottom: 0 !important;
  margin-bottom: 15px !important;
}
}
@media screen and (min-width: 980px) and (max-width: 1279px){
  .category_text{
    font-size: 13px;
  }
}
@media screen and (max-width: 991px) {
  #menu-cont{
    height: 90px;
  }
  .category{
    height: 90px !important;
  }
}
@media screen and (max-width: 640px){
    #menu-cont {
        height: 70px !important;
        .categories .category {
            height: 70px !important;
            padding: 0;
            .category_img {
                height: 48px;
            }
        }
    }
  }
