@import "./variables";

#player-container {
    .videoPlayer {
        margin: 0;
        padding: 0;
        margin-right: -4.1665%;
        .player-container {
            margin: 0;
            padding: 0;
            padding-bottom: 56.6666666666%;
            iframe#videoPlayer {
                margin: 0;
                padding: 0;
            } /* iframe#videoPlayer */
        } /* .player-container */
        .selec-video-info {
            padding: 0;
            margin: 0;
            margin-top: 30px;
            .selected-name {
                padding: 0;
                margin: 0;
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 14px;
                font-size: 24px;
                font-weight: 600;
                margin-top: -8px;
            } /* .selected-name */
            .selected-desc {
              ul {
                display: block;
                list-style-type: disc;
                -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                -webkit-padding-start: 40px;
        } /* .selec-video-info */
    } /* .videoPlayer */
} /* #player-container */
}
}
@media screen and (max-width: 1279px) {
  #player-container {
      .videoPlayer {
          margin-right: 0;
      }
    }
  } /* small media query */

  @media screen and (max-width: 980px) {
    .selec-video-info{
      text-align: center;
    }
  } /* small media query */
