@import "./variables";

#video-chooser {
  border-left: 1px solid $greyColor;
  padding-left: 4.1665%;
  min-height: 700px;
      label {
          margin-left: 0;
      }

      .label-cont {
          margin-left: 0;
      }
    .video-image {
        padding: 0;
        height : 90px;
    } 
    .single-video{
      margin-bottom: 30px;

      &:hover {
          .video-name {
              color: #ff3232;
          }
      }
    }
    .video-info {
        vertical-align: top;
        padding-left: 20px;
        .video-name {
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0;
        } /* .video-name */
        .video-desc {
            display: block;
            color: #333333;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            padding-top: 10px;
            .morelink {
                color: $redColor;
                font-weight: 400;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            } /* .morelink */
        } /* .video-desc */
    } /* .video-info */
} /* #video-chooser */

@media screen and (max-width: 979px){
  #video-chooser{
    min-height: unset;
    padding-left: 30px;
    border: none;
      .video-info {
         vertical-align: top;
         padding: 0;
         padding-left: 15px;
       }
  }
}
@media screen and (min-width: 979px){
  #video-chooser .video-info {
    vertical-align: top;
    padding-left: 20px;
    padding-right: 0;
    width: 55%;
    }
}
@media screen and (max-width: 768px){
    #video-chooser{
        .video-info {
            padding-left: 15px;
            padding-right: 15px;
        }  
    }
}