$redColor: #cc0033;
li.category{
  a{
    text-decoration: none;
    &:active {text-decoration: none;}
  }
}
header{
  max-height: 90px;
  width: 100%;
  border-bottom: 1px #dddddd solid;
  .header{
    .header_logo{
      border-right: 1px #dddddd solid;
    }
    .header_text{
      font-size: 40px;
      color: black;
      padding-left: 20px;
      padding-top: 7px;
      display: inline-block;
    }
  }
}
.container-fluid{
  padding-right: 0px;
}
ul.tab-bar,
ul.tab-bar>li { position: relative; }
    ul.tab-bar.bar-style-1:before { background-color: $redColor; }
    ul.tab-bar:before {
        display: inline-block;
        content: '';
        position: absolute;
        bottom: 0; left: 0;
        height: 3px;
        z-index: 1;
        color: $redColor;
    }
    ul.tab-bar>li { list-style-type: none; border-width: 0; }
    ul.tab-bar.bar-style-1>li.active { color: $redColor !important; font-weight: 575; }
    li {
            list-style-type: none;
            display: inline-block;
            border-width: 0;
            height: 40px;
            background-color: transparent;
            color: $redColor;
            text-align: center;
            cursor: pointer;
        }
        li.category.active span.category_text{
          color: $redColor!important;
        }
        li.category.active svg.category_img{
            fill:$redColor !important;
        }
.categories{
  height: 220px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px #dddddd solid;
  background-color: #f7f7f7;
  .category{
    display: inline-block;
    max-height: 220px;
    padding: 45px;
    padding-top: 20px;
    &:hover{
      // border-bottom: 2px $redColor solid;
      .category_text{
        color: $redColor;
      }
      .svg path{
        fill: $redColor;
      }
    }
    .category_img{
    display: block;
    padding-bottom: 20px;
    padding-left: 20px;
    color: black;
    width: 116px;
    height: 116px;
    }
    .category_text{
      color: black;
      font-size: 17px;
      padding-bottom: 50px;
    }
  }
}
