$redColor: #cc0033;
#menu-cont > * {
  // margin: auto;
}
//patch
body {
  overflow-x:hidden;
}
li.category{
  a{
    text-decoration: none;
    &:active {text-decoration: none;}
  }
}
body{
  overflow-x: hidden;
  max-height: 100vh;
  max-width: 100vw;
}
.row{
  width: 100%;
}
header{
  max-height: 90px;
  width: 100%;
  border-bottom: 1px #dddddd solid;
  .header{
    .header_logo{
      border-right: 1px #dddddd solid;
    }
    .header_text{
      font-size: 40px;
      color: black;
      padding-left: 20px;
      padding-top: 7px;
      display: inline-block;
    }
  }
}
.container-fluid{
  padding-right: 0px;
}
ul.tab-bar,
ul.tab-bar>li { position: relative; }
    ul.tab-bar.bar-style-1:before { background-color: $redColor; }
    ul.tab-bar:before {
        display: inline-block;
        content: '';
        position: absolute;
        bottom: 0; left: 0;
        height: 3px;
        z-index: 1;
        color: $redColor;
    }
    ul.tab-bar>li { list-style-type: none; border-width: 0; }
    ul.tab-bar.bar-style-1>li.active { color: $redColor !important; font-weight: 575; }
    li {
            list-style-type: none;
            display: inline-block;
            border-width: 0;
            height: 40px;
            background-color: transparent;
            color: $redColor;
            text-align: center;
            cursor: pointer;
        }
        li.category.active span.category_text{
          color: $redColor!important;
        }
        li.category.active svg.category_img{
            fill:$redColor !important;
        }
.categories{
  height: 170px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px #dddddd solid;
  background-color: #f7f7f7;
  .category{
    display: inline-block;
    max-height: 220px;
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0;
    &:active{
      .category_text{
        color: $redColor;
      }
      .category_img {
        fill: currentColor;
      }
    }
    .category_img{
    display: block;
    color: black;
    height: 88px;
    fill: $redColor;
    }
    .category_text{
      color: black;
      font-size: 14px;
      padding-bottom: 50px;
    }
  }
}
/* content css */
.videoPlayer {
  display: inline-block;
  padding-left: 10%;
}
#video-chooser{
  display: inline-block;
  vertical-align: top;
  padding-left: 5%;
  max-width: 30%;
  max-height: 60vh;
  overflow-y: scroll;
  direction:ltr;
  &::-webkit-scrollbar {
      width: 4px;
  }
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(255,0,0,0.8);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  &::-webkit-scrollbar-thumb:window-inactive {
  	background: rgba(255,0,0,0.4);
  }
  .single-video{
    margin: 0 0 15px 5px;
  }
  .video-text{
    vertical-align: top;
  }
    .video-name{
    display: block;
    }
    .video-desc{
      text-align: justify;
    }
  .gone{
    display: none;
  }
}
.selec-video-info{
  height: 10%;
  .selected-name{
  color: $redColor;
  display: block;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px
  }
  .selected-desc{
  color: black;
  font-size: 15px;
  }
}
.active{
  .video-name{
    color: $redColor;
  }
}
// Video selector CSS
input[type="radio"] {
    display: none;
    &:checked + label{
      .label-cont {
        .video-name{color: $redColor;}
      }
    }
}
// Loader
@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-css{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 1s linear infinite;
  animation: lds-eclipse 1s linear infinite;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 6px 0 0 #cc0033;
  -webkit-transform-origin: 80px 83px;
  transform-origin: 80px 83px;
  top: 130%;
  left: 340%;
}
.lds-eclipse {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
