<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Solar Edge</title>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/stylesheet.css">

    <!-- AngularJS -->
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="lib/angular-youtube-video.js"></script>
  </head>
  <body ng-app="solarEdge">
    <header class="container" id="header">
      <div class="row">
        <div class="top_header col d-flex justify-content-left">
          <img src="images/logo.png" alt="solar_edge_logo" class="header_logo col-5 col-sm-4 col-md-2 p-0">
          <h2 class="header_text col-7 col-sm-8 col-md-10"> Monitoring Platform Feature Showcase </h2>
        </div>
      </div>
    </header>
        <div id="menu-cont" class="container-fluid">
          <div class="container">
          <div class="row">
            <ul class="slider tab-bar bar-style-1 categories col">
              <li class="category" id="improve"><a href="#!improve">
                <img src="images/icon1red.png" alt="icon1" class="category_img ricon">
                <img src="images/icon1black.png" alt="icon1" class="category_img bicon">
                <span class="category_text col-sm-12 d-none d-sm-block">Improve your lead generation</span>
              </a></li>
              <li class="category" id="increase"><a href="#!increase">
                <img src="images/icon2red.png" alt="icon1" class="category_img ricon img-responsive">
                <img src="images/icon2black.png" alt="icon1" class="category_img bicon img-responsive">
                <span class="category_text col-sm-12 d-none d-sm-block">Increase value for your customers</span>
              </a></li>
              <li class="category" id="speed"><a href="#!speed">
                <img src="images/icon3red.png" alt="icon1" class="category_img ricon img-responsive">
                <img src="images/icon3black.png" alt="icon1" class="category_img bicon img-responsive">
                <span class="category_text col-sm-12 d-none d-sm-block">Speed up your installation</span>
              </a></li>
              <li class="category" id="save"><a href="#!save">
                <img src="images/icon4red.png" alt="icon1" class="category_img ricon img-responsive">
                <img src="images/icon4black.png" alt="icon1" class="category_img bicon img-responsive">
                <span class="category_text col-sm-12 d-none d-sm-block">Save commissioning time and truck rolls</span>
              </a></li>
              <li class="category" id="manage"><a href="#!manage">
                <img src="images/icon5red.png" alt="icon1" class="category_img ricon img-responsive">
                <img src="images/icon5black.png" alt="icon1" class="category_img bicon img-responsive">
                <span class="category_text col-sm-12 d-none d-sm-block">Effectively manage your fleet</span>
              </a></li>
            </ul>
          </div>
          </div>
        </div>
        <div id="main-view" class="solar-container" ng-view ng-cloak>
          <!-- Loader -->
          <div class="lds-css ng-scope" id="loader">
            <div class="lds-eclipse">
              <div></div>
            </div>
          </div>
          <!-- End of loader -->
        </div>
        <footer class="container-fluid">
          <div class="container">
          <div class="row">
            <div class="col">
              <img alt="solar_edge_logo" class="footer-logo" src="images/Logo-footer.png">
              <p id="footer-text">&copy; All rights reserved to SolarEdge 2017</p>
            </div>
          </div>
          </div>
        </footer>

        <!-- Cotrollers -->
        <script type="text/javascript" src="js/controllers/mainController.js"></script>
        <script type="text/javascript" src="js/controllers/improveCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/increaseCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/manageCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/saveCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/speedCtrl.js"></script>
        <script type="text/javascript" src="script.js"></script>

        <!-- Template  -->
        <script type="text/ng-template" id="player.html">
          <div class="mobile_headline d-block d-sm-none">
            <h1>{{catName}}</h1>
          </div>
<div class="container main-container">
<div id="player-container" class="row" ng-cloak>
  <div class="videoPlayer col col-sm-7" ng-init="init(videos[0])">
    <div class="player-container col">
      <youtube-video id="videoPlayer" video-id="selectedVideo.videoID" player-vars="playerVars" player="mainPlayer"
        class=""></youtube-video>
    </div>
    <div class="selec-video-info">
      <span class="selected-name">{{selectedVideo.name}}</span>
      <span class="selected-desc" ng-bind-html="selectedVideo.desc"></span>
    </div>
  </div>
  <div id="video-chooser" class="col-sm-5 col-md-4 col-12 offset-md-1">
    <div class="single-video {{video.clas}}" ng-repeat="video in videos">
      <input ng-model="$parent.selectedVideo" type="radio" name="video" class="videoImg" ng-value="{{video}}"
        ng-attr-id="{{video.videoID}}" ng-data-isfirst="{{$first}}">
      <label for="{{video.videoID}}" class="row" ng-click="hideNull()">
        <div class="label-cont row">
          <!-- <div class="video-image" style="background: url(https://i.ytimg.com/vi/{{video.videoID}}/default.jpg)"></div> -->
          <img ng-src="https://i.ytimg.com/vi/{{video.videoID}}/hqdefault.jpg" title="{{video.name}}" class="video-image col-5" />
          <div class="video-info col-6 col-sm-6">
            <p class="video-name">{{video.name}}<span class="video-desc">
                {{video.shortDesc}} </span></p>
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
</div>
  </body>
</html>
