<div id="player-container">
  <div class="videoPlayer">
    <youtube-video video-id="videoSwitch"></youtube-video>
    <videoName info="videoSwitch"></videoName>
    <!-- TODO: added video name & Desc. -->
  </div>
  <div id="video-chooser">
    <div class="single-video" ng-repeat="video in videos" >
      <input ng-model="$parent.videoSwitch" type="radio" name="video" class="videoImg" value="{{video.videoID}}" ng-attr-id="{{video.videoID}}" >
    <label for="{{video.videoID}}">
      <div class="label-cont">
      <img ng-src="https://i.ytimg.com/vi/{{video.videoID}}/1.jpg" title="{{video.name}}" />
      <span class="video-name">{{video.name}}</span>
      <span class="video-desc">{{video.description}}</span>
    </div>
    </label>
    </div>
  </div>
</div>
