<div id="viewcontainer">
  <div id="player-container" ng-cloak>
    <div class="videoPlayer" ng-init="selectedVideo = videos[0]">
      <youtube-video video-id="selectedVideo.videoID"></youtube-video>
      <div class="selec-video-info">
        <span class="selected-name">{{selectedVideo.name}}</span>
        <span class="selected-desc">{{selectedVideo.desc}}</span>
      </div>
    </div>

    <div id="video-chooser">
      <div class="single-video" ng-repeat="video in videos" >
        <input ng-model="$parent.selectedVideo" type="radio" name="video" class="videoImg" ng-value="{{video}}" ng-attr-id="{{video.videoID}}" ng-data-isfirst="{{$first}}">
        <label for="{{video.videoID}}" class="row">
          <div class="label-cont">
          <img ng-src="https://i.ytimg.com/vi/{{video.videoID}}/1.jpg" title="{{video.name}}" class="col-lg-4" />
          <div class="video-text col-lg-8">
            <span class="video-name">{{video.name}}</span>
            <span class="video-desc">{{video.desc}}</span>
            </div>
        </div>
        </label>
      </div>

    </div>
  </div>

</div>
