<div class="mobile_headline hidden-md hidden-lg">
  <span>{{catName}}</span>
</div>
<div id="player-container" class="col-lg-10 col-md-10 col-sm-12 col-xs-12" ng-cloak>
  <div class="videoPlayer col-lg-7 col-md-7 col-sm-12 col-xs-12" ng-init="init(videos[0])">
    <div class="player-container col-xs-12 col-md-7">
        <youtube-video id="videoPlayer" video-id="selectedVideo.videoID" player-vars="playerVars" player="mainPlayer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></youtube-video>
    </div>
    <div class="nullSelector" id="video_arrow">
      <div class="arrow_box col-lg-4 col-md-8 right hidden-xs hidden-sm">
        Touch any video to view
      </div>
    </div>
    <div class="selec-video-info col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <span class="selected-name">{{selectedVideo.name}}</span>
      <span class="selected-desc">{{selectedVideo.desc}}</span>
    </div>
  </div>
  <div id="video-chooser" class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
    <div class="single-video {{video.clas}}" ng-repeat="video in videos" >
      <input ng-model="$parent.selectedVideo" type="radio" name="video" class="videoImg" ng-value="{{video}}" ng-attr-id="{{video.videoID}}" ng-data-isfirst="{{$first}}">
    <label for="{{video.videoID}}" class="row" ng-click="hideNull()">
      <div class="label-cont row test">
<div class="video-image" style="background: url(https://i.ytimg.com/vi/{{video.videoID}}/default.jpg)"></div>
      <!-- <img ng-src="https://i.ytimg.com/vi/{{video.videoID}}/default.jpg" title="{{video.name}}" class="video-image" style=""/> -->
      <div class="video-info col-lg-6 col-md-6 col-xs-6 col-sm-6">
        <span class="video-name"> {{video.name}} </span>
        <p class="video-desc"> {{video.desc}} </p>
        </div>
    </div>
    </label>
    </div>
  </div>
</div>
