<div class="mobile_headline hidden-md hidden-lg">
  <h1>{{catName}}</h1>
</div>
<div id="player-container" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" ng-cloak>
  <div class="videoPlayer col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-init="init(videos[0])">
    <div class="player-container col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <youtube-video id="videoPlayer" video-id="selectedVideo.videoID" player-vars="playerVars" player="mainPlayer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></youtube-video>
    </div>
    <div class="nullSelector" id="video_arrow">
      <div class="arrow_box col-lg-4 col-md-8 right hidden-xs hidden-sm">
        Select any video to view
      </div>
    </div>
    <div class="selec-video-info col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <span class="selected-name">{{selectedVideo.name}}</span>
      <span class="selected-desc">{{selectedVideo.desc}}</span>
    </div>
  </div>
  <div id="video-chooser" class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
    <div class="single-video {{video.clas}}" ng-repeat="video in videos" >
      <input ng-model="$parent.selectedVideo" type="radio" name="video" class="videoImg" ng-value="{{video}}" ng-attr-id="{{video.videoID}}" ng-data-isfirst="{{$first}}">
    <label for="{{video.videoID}}" class="row" ng-click="hideNull()">
      <div class="label-cont row">
      <img ng-src="https://i.ytimg.com/vi/{{video.videoID}}/1.jpg" title="{{video.name}}" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 video-image" />
      <div class="video-info col-lg-6 col-md-6 col-xs-6 col-sm-6">
        <p class="video-name">{{video.name}}<span class="video-desc">
      {{video.desc}}  </span></p>
        </div>
    </div>
    </label>
    </div>
  </div>
</div>
